body, html {
    overflow: hidden;
    height: 100vh;
    background-color: #2f2f2f;
    color: #fff;
}

li {
    list-style-type: none;
}

.pos-f-t {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    background-color: #2f2f2f;
}

.content {
    height: calc(100vh - 90px);
}

.btn {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.541327);
    font-size: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 0;
    width: 62px;
    height: 40px;
}

.btn img {
    margin-right: 15px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 0.7rem;
}

.btn:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.541327);
    border-left: none;
    border-right: none;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.row {
    margin: 15px 0;
}

.input-group {
    width: auto;
}

.active {
    border-radius: 0 !important;
}

.form-control {
    border-radius: 0;
}

.fa {
    color: #fff;
}

.fa-arrows-h {
    color: #000;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.selected {
    border: 3px solid #fb3700;
}
